
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>SEAIT AMS</title>

  <%- include('../sub/head-admin.ejs') %>
<!-- header -->
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
          
    <div class="preloader flex-column justify-content-center align-items-center">
      <img class="animation__shake" src="../img/logo.png" alt="seait" height="60" width="60">
      <h5>Setting up things for you ...</h5>
    </div>
    
            <h2 class="text-center ">Manage yearbook pictures</h2>
            <h3 class="text-center ">Class of <%= year_graduated %></h3>
            <h5 class="text-center "><%= course %></h5>
         
            <div class="row">
              <!-- <div class="col-md-4 px-0">
                <img src="/yearbook-img/1639123807815.jpg" class="img-fluid">
            </div> -->
              <div class="col-12">
                <div class="card">
                  <div class="card-header">
                    <h3 class="card-title">List of yearbook pictures </h3>
                    <div class="card-tools">

                      <button type="button" class="btn btn-tool"  title="Add">
                          <a href="" id="btn_add" class="text-primary">
                              <i class="fas fa-plus"></i>
                          </a>
                      </button>
                    </div>
                  </div>
                  <!-- /.card-header -->
                  <div class="card-body">
                    <table id="example2" class="table table-bordered table-hover">
                      <thead>
                      <tr>
                        <th>Pic</th>
                        <th>Name</th>
                        <!-- <th>Username/Email</th> -->
                        <th>Action</th>
                      </tr>
                      </thead>
                      <tbody>

                        <% table.forEach(function(e) { %>
                          <tr>
                            <td><img src="<%= e.img %>" style="width: 50px; height: 50px; border-radius: 50%;"></td>
                            <td><%= e.name %></td>

                            <!-- <td><%= e.username %></td> -->
                            <td class="text-center">
                             
                                <input id="id" name="id" type="hidden" value="<%= e.yearbook_pics %>">
                                <!-- <a href="" class="text-info update"><i class="fas fa-pencil-alt"></i></a> -->
                                <a href="" class="text-danger remove"><i class="fas fa-trash-alt"></i></a>
                              </td>
                              
                          </tr>
                        <% }); %>
                      
                      </tbody>
                    </table>
                  </div>
                  <!-- /.card-body -->
                </div>
              </div>
            </div>

         
        </div>
    </section>

  </div>
<!-- footer -->

<div class="modal fade" id="modal-add">
  <div class="modal-dialog modal-dialog-centered modal-sm">
    <div class="modal-content">
          <div class="modal-header">
        <h4 class="modal-title">Add yearbook picture</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <form enctype="multipart/form-data" id="add">
        
        <input type="hidden" name="id" value="<%= id%>">
        <div class="form-group">
          <label>Full name</label>
          <input type="text" required class="form-control" name="fullname" placeholder="" id="">
        </div>

        <div class="form-group">
          <label>Select a image</label>
          <div class="custom-file">
            <input type="file" class="custom-file-input" name="pic" required id="exampleInputFile">
            <label class="custom-file-label" for="exampleInputFile">Choose file</label>
          </div>
        </div>
    
        
      </div>
      <div class="modal-footer ">
        <div class="d-flex justify-content-end">
          <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Submit</button>
       
        </div>
      </div>
    </form>
    </div>
    <!-- /.modal-content -->
  </div>



<%- include('../sub/foot-admin.ejs') %>
<!-- codde -->
<script>
  $(function () {
  bsCustomFileInput.init();
});

   $("#btn_add").click(function (e) { 
     e.preventDefault();
     $('#modal-add').modal("toggle")
   });


   $('#example2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": true,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,
    });

    var user_id ;

    $(document).on('click', 'a.update', function (e) {
      e.preventDefault();
      let id = $(this).siblings('#id').val();
      // alert(`update : ${id}`) 
       console.log(`update : ${id}`);

      $.getJSON(`/users/${id}`,
        function (d, textStatus, jqXHR) {
          $('input[name="user_id"]').val(d.alumni_id);
          $('input[name="fname"]').val(d.fname);
          $('input[name="mname"]').val(d.mname);
          $('input[name="lname"]').val(d.lname);
          $('input[name="bday"]').val(d.bday);
          $('input[name="phone"]').val(d.phone_num);
          $('select[name="year"]').val(d.year_graduated);
          $('select[name="course"]').val(d.course_id);
          $('select[name="gender"]').val(d.gender);
          $('select[name="job_status"]').val(d.job_status);
          
        }
      );



      $('#modal-update').modal('toggle')
    
    });

    $("#add").submit(function (e) { 
      e.preventDefault();
      const data = Object.fromEntries(new FormData(e.target).entries());
       console.log(data)
       let form = new FormData(this);
      //  var url = new URL(window.location.href);
      // var c = url.searchParams.get("yearbook");
      //  $("#id").val(c);
      //  console.log(c);

       Swal.fire({
      title: 'Do you want to save the changes?',
      // showDenyButton: true,
      showCancelButton: true,
      confirmButtonText: 'Save',
      // denyButtonText: `Don't save`,
    }).then((result) => {
      if (result.isConfirmed) {
          
           $.ajax({
             type: "POST",
             url: "/manage-yearbook-detail",
             data: form,
            //  data: data,
             dataType: "json",
             contentType: false,
            cache: false,
            processData:false,
             success: function (res) {

              if (res.success) {
                console.log(res);
              //  document.getElementById("register").reset();
               $('#modal-add').modal("toggle")
               Toast.fire({
                   icon: 'success',
                   title: 'Successfully save'
                 })
                 setTimeout(function () {
                    location.reload(true)
                }, 1000);
              } else {
                Toast.fire({
                   icon: 'error',
                   title: 'Something went wrong'
                 })
              }
            

             }//res
           });
         
       
       
          } 
      })//Swal

    });

    $(document).on('click', 'a.remove', function (e) {
      e.preventDefault();
      let id = $(this).siblings('#id').val();
      // alert(`remove : ${id}`)

      Swal.fire({
      title: 'Do you want to remove?',
      // showDenyButton: true,
      showCancelButton: true,
      confirmButtonText: 'Save',
      // denyButtonText: `Don't save`,
    }).then((result) => {
      if (result.isConfirmed) {
          
           $.ajax({
             type: "DELETE",
             url: "/manage-yearbook-detail/"+ id,
            //  data: form.serialize(),
             dataType: "json",
             success: function (res) {

              if (res.success) {
                console.log(res);
              //  document.getElementById("register").reset();
              //  $('#modal-update').modal("toggle")
               Toast.fire({
                   icon: 'success',
                   title: 'Successfully removed'
                 })
                 setTimeout(function () {
                    location.reload(true)
                }, 1000);
              } else {
                Toast.fire({
                   icon: 'error',
                   title: 'Something went wrong'
                 })
              }
            

             }//res
           });
         
       
       
          } 
      })//Swal


    });

</script>
</body>
</html>