
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>SEAIT AMS</title>

  <%- include('../sub/head-admin.ejs') %>
<!-- header -->
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
          
    <div class="preloader flex-column justify-content-center align-items-center">
      <img class="animation__shake" src="../img/logo.png" alt="seait" height="60" width="60">
      <h5>Setting up things for you ...</h5>
    </div>
    
            <h2 class="text-center ">Manage Jobs</h2>
         
            <div class="row">
              <div class="col-12">
                <div class="card">
                  <div class="card-header">
                    <h3 class="card-title">Jobs</h3>
                    <div class="card-tools">

                      <button type="button" class="btn btn-tool"  title="Add">
                          <a href="" id="btn_add" class="text-primary">
                              <i class="fas fa-plus"></i>
                          </a>
                      </button>
                    </div>
                  </div>
                  <!-- /.card-header -->
                  <div class="card-body">
                    <table id="example2" class="table table-bordered table-hover">
                      <thead>
                      <tr>
                        <th>Title</th>
                        <th>Company</th>
                        <th>Description</th>
                        <th>Contacts</th>
                        <!-- <th>Username/Email</th> -->
                        <th>Action</th>
                      </tr>
                      </thead>
                      <tbody>

                        <% job.forEach(function(e) { %>
                          <tr>
                            <td><%= e.title %></td>
                            <td><%= e.company %></td>
                            <td><%= e.job_desc %></td>
                            <td><%= e.contact %></td>
                            <td class="text-center">
                              <input id="id" name="id" type="hidden" value="<%= e.job_id %>">
                              <!-- <a href="" class="text-info update"><i class="fas fa-pencil-alt"></i></a> -->
                              <a href="" class="text-danger remove"><i class="fas fa-trash-alt"></i></a>
                              </td>
                              
                          </tr>
                        <% }); %>
                      
                      </tbody>
                    </table>
                  </div>
                  <!-- /.card-body -->
                </div>
              </div>
            </div>

         
        </div>
    </section>
  </div>
<!-- footer -->

<div class="modal fade" id="modal-add">
  <div class="modal-dialog modal-dialog-centered modal-sm">
    <div class="modal-content">
          <div class="modal-header">
        <h4 class="modal-title">Add Jobs</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <form id="add">
        <input type="hidden" name="id" value="">
        <div class="form-group">
          <label>Job Title</label>
          <input type="text" required class="form-control" name="title" placeholder="" id="">
        </div>

        <div class="form-group">
          <label>Company</label>
          <input type="text" required class="form-control" name="company" placeholder="" id="">
        </div>

        <div class="form-group">
          <label>Job Description</label>
          <textarea class="form-control" required name="desc" id=""  rows="2"></textarea>
        </div>
        
        <div class="form-group">
          <label>Contact Details</label>
          <textarea class="form-control" required name="contact" id=""  rows="2"></textarea>
        </div>
        
        </div>

        <div class="modal-footer ">
          <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Submit</button>
          </form>
          </div>

        </div>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>



<%- include('../sub/foot-admin.ejs') %>
<!-- codde -->
<script>

   $("#btn_add").click(function (e) { 
     e.preventDefault();
     $('#modal-add').modal("toggle")
   });


   $('#example2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": true,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,
    });

    var user_id ;

    $(document).on('click', 'a.update', function (e) {
      e.preventDefault();
      let id = $(this).siblings('#id').val();
      // alert(`update : ${id}`) 
       console.log(`update : ${id}`);

      $.getJSON(`/users/${id}`,
        function (d, textStatus, jqXHR) {
          $('input[name="user_id"]').val(d.alumni_id);
          $('input[name="fname"]').val(d.fname);
          $('input[name="mname"]').val(d.mname);
          $('input[name="lname"]').val(d.lname);
          $('input[name="bday"]').val(d.bday);
          $('input[name="phone"]').val(d.phone_num);
          $('select[name="year"]').val(d.year_graduated);
          $('select[name="course"]').val(d.course_id);
          $('select[name="gender"]').val(d.gender);
          $('select[name="job_status"]').val(d.job_status);
          
        }
      );



      $('#modal-update').modal('toggle')
    
    });

    $("#add").submit(function (e) { 
      e.preventDefault();
      const data = Object.fromEntries(new FormData(e.target).entries());
       console.log(data)

       Swal.fire({
      title: 'Do you want to save the changes?',
      // showDenyButton: true,
      showCancelButton: true,
      confirmButtonText: 'Save',
      // denyButtonText: `Don't save`,
    }).then((result) => {
      if (result.isConfirmed) {
          
           $.ajax({
             type: "POST",
             url: "/manage-job",
            //  data: form.serialize(),
             data: data,
             dataType: "json",
             success: function (res) {

              if (res.success) {
                console.log(res);
              //  document.getElementById("register").reset();
               $('#modal-add').modal("toggle")
               Toast.fire({
                   icon: 'success',
                   title: 'Successfully save'
                 })
                 setTimeout(function () {
                    location.reload(true)
                }, 1000);
              } else {
                Toast.fire({
                   icon: 'error',
                   title: 'Something went wrong'
                 })
              }
            

             }//res
           });
         
       
       
          } 
      })//Swal

    });

    $(document).on('click', 'a.remove', function (e) {
      e.preventDefault();
      let id = $(this).siblings('#id').val();
      // alert(`remove : ${id}`)

      Swal.fire({
      title: 'Do you want to remove?',
      // showDenyButton: true,
      showCancelButton: true,
      confirmButtonText: 'Save',
      // denyButtonText: `Don't save`,
    }).then((result) => {
      if (result.isConfirmed) {
          
           $.ajax({
             type: "DELETE",
             url: "/manage-job/"+ id,
            //  data: form.serialize(),
             dataType: "json",
             success: function (res) {

              if (res.success) {
                console.log(res);
              //  document.getElementById("register").reset();
              //  $('#modal-update').modal("toggle")
               Toast.fire({
                   icon: 'success',
                   title: 'Successfully removed'
                 })
                 setTimeout(function () {
                    location.reload(true)
                }, 1000);
              } else {
                Toast.fire({
                   icon: 'error',
                   title: 'Something went wrong'
                 })
              }
            

             }//res
           });
         
       
       
          } 
      })//Swal


    });

</script>
</body>
</html>